<%= form_for(@meeting) do |f| %>
<table class="new_form">
    <thead class="new_form">
  <td><%= f.label :name %></td>
  <% if @meeting.errors[:name].present? %>
    <td><%= f.text_field :name, :placeholder => "Cannot be blank" %><br /></td><br />
  <% else %>
    <td><%= f.text_field :name %><br /></td><br />
  <% end %>


  <td><%= f.label :time %></td>
  <% if @meeting.errors[:time].present? %>
    <td><%= f.text_field :time, :placeholder => "Cannot be blank" %></td><br />
  <% else %>
    <td><%= f.text_field :time %></td><br />
  <% end %>

  <td><%= f.label :type_player %><td>
    <% if @meeting.errors[:type_player].present? %>
  <td><%= f.text_field :type_player, :placeholder => "Cannot be blank" %></td><br />
  <% else %>
    <td><%= f.text_field :type_player %></td><br />
  <% end %>

   </thead>
</table>

  <%= f.submit %>

<% end %>
