<h2><%= @meeting.name %></h2>
<table class="show_form">
  <thead>
      <tbody>
      <tr class="tb-items">
        <td class="table_items">Name: <%= @meeting.name %></td>
        <td class="table_items">Time: <%= @meeting.time %></td><br />
        <td class="table_items">Type of Player: <%= @meeting.type_player %></td>
      </tr>
    </tbody>
  </thead>
</table>
<table class="show_form">
  <thead>
    <% @meeting.students.each do |student| %>
      <tbody>
      <tr class="tb-items">
        <td class="table_items"> Name: <%= student.name %></td>
      </tr>
    </tbody>
    <% end %>
  </thead>
</table>
<div class="edit">
<a href="#">Edit Meeting</a>
<a href="#">Add Student</a>
</div>
